<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='tv_3364355.png') }}" alt="" width="50" height="50" class="d-inline-block align-text-top">
      Movies collections
    </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if 'user' in session %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('logout') }}">Wyloguj się {{ session['user'] }} </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('login') }}">Zaloguj się</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('new_user') }}">Zarejestruj się</a>
        </li>
        {% endif %}
        {% if login.is_admin  %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('users') }}">Zarządzanie profilami</a>
        </li>
        {% endif %}

        {% if 'user' in session %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" >Profil</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('favourites') }}">Ulubione</a></li>
              <li><a class="dropdown-item" aria-current="page" href="{{ url_for('my_profile',  user_name=login) }}">Edycja profilu</a></li>
            </ul>
          </li>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('about') }}">O aplikacji</a>
        </li>

      </ul>
      <form class="d-flex" id="search_movies" action="{{ url_for('search_movies') }}" method="POST">>
        <input class="form-control me-2" type="search" name="title" placeholder="Wpisz tytuł filmu" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Szukaj</button>
      </form>
    </div>
  </div>
</nav>