{% extends "base.html" %}
{% block body %}
<style>
  .custom-link {
    color: #333;
    text-decoration: none;
  }

  .custom-link:hover {
    color: #007bff;
    text-decoration: underline;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-sm-4"><img src="{{ movie['short']['image'] }}" class="img-thumbnail rounded" width="300" height="350" alt="Brak plakatu"></div>
    <div class="col-sm-8">
        <div class="container" style="margin-top: 20px;">
            <div class="row">
                <div class="col-md-auto">
                  <form action="{{ url_for('search_movies') }}" method="post">
                    <input type="hidden" name="back" value="1">
                      <button class="btn btn-outline-dark" type="submit"><b>Cofnij</b></button>
                    </form>
                </div>
                <div class="col-md-auto">
                  <form action="{{ url_for('save_movie', movie_id=movie['imdbId']) }}">
                    <input type="hidden" name="back" value="1">
                      <button class="btn btn-outline-dark" type="submit"><b>Zapisz do ulubionych</b></button>
                    </form>
                </div>
              </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col"><b>Tytuł</b></div>
            <div class="col-8">{{ movie['short']['name'] }}</div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col"><b>Rok produkcji</b></div>
            <div class="col-8">{{ movie['top']['releaseYear']['year'] }}</div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col"><b>Adres URL</b></div>
            <div class="col-8"><a href="{{ movie['short']['url'] }}" class="custom-link">{{ movie['short']['url'] }}</a></div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col"><b>Reżyser</b></div>
            {% if movie["short"].get("director") %}
                {% for director in movie["short"].get("director", []) %}
                <div class="col-8">{{ director['name'] }}</div>
                {% endfor %}
            {% else %}
                <div class="col-8">Brak informacji o reżyserze</div>
            {% endif %}
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col"><b>Ocena IMDb</b></div>
            <div class="col-8">{{ movie['short']['aggregateRating']['ratingValue'] }}/10</div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col"><b>Skrót</b></div>
            <div class="col-8">{{ movie['short']['description'] }}</div>
        </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
      <div class="col-5"><b>Role główne</b>
        <div class="row" style="margin-top: 20px;">
            {% if movie["short"].get("actor") %}
                {% for actor in movie["short"].get("actor", []) %}
                <div class="col-4" style="margin-top: 10px;">
                  {{ actor['name'] }}
                </div>
                <div class="col-6" style="margin-top: 10px;">
                    <a href="{{ actor['url'] }}" class="custom-link">{{ actor['url'] }}</a>
                </div>
                {% endfor %}
            {% else %}
                <div class="col-">Brak informacji o aktorach</div>
            {% endif %}
        </div>
      </div>
      <div class="col-7">
          <b>Recenzja</b>
          <div class="row" style="margin-top: 20px;">
              {{ movie['short']['review']['reviewBody'] }}
          </div>
      </div>
  </div>
</div>

{% endblock %}
