{% extends "base.html" %}
{% block body %}

<div class="container">
    <div class="row mb-3">
        <div class="col-5 h1">Edit user {{ user.name }}</div>
    </div>
    <form id="user_form" action="{{ url_for('my_profile', user_name=login) }}" method="POST">

        <div class="row mb-3">
            <div class="col-1 col-form-label"><label for="email">Email</label></div>
            <div class="col-4">
                <input type="text" id="email" name="email" value="{{ login.email }}" class="form-control"><br>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-1 col-form-label"><label for="user_pass">Password</label></div>
            <div class="col-4">
                <input type="password" id="user_pass" name="user_pass" class="form-control"><br>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-2"><input type="submit" value="Zmień" class="btn btn-primary"></div>
        </div>

    </form>
</div>
{% endblock %}
